/* RESET */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* COMMON */
    .container{
        width: 62%;
        margin: auto;
        display: flex;
    }

    html{
        font-size: 100%;
        font-family: 'Whitney', sans-serif;
    }

    .buttons{
        margin-top: 1.2em;
        padding: 0.8em;
        font-size: 1.0rem;
        background-color: white;
        border-radius: 20px;
        border: white;
    }

    .dark-button{
        color: white;
        background-color: #333333;
    }

/* HEADER */
    header{
        background-color: #265ee8;
        height: 3em;
        display: flex;
        text-align: center;
        color: white;
    }


    .nav-bar{
        display: flex;
        justify-content: space-between;
    }

    
    #logo img{
        width: 100%;
    }

    .nav-item:nth-child(2){
        width: 50%;
    }

    .nav-item:nth-child(odd){
        width: 10%;
        padding: 0.1em;
        display: flex;

    }
    .nav-item:nth-child(3){
        vertical-align: middle;
        line-height: 2em;
        padding-left: 1.5em;
    }

    .nav-button{
        color: rgb(42, 42, 42);
        background-color: white;
        border-radius: 20px;
        width: 15%;
        
    }


    ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    li{
        padding: 0.5em;
    
    }

    li:hover{
        background-color: rgba(255, 255, 255, 0.1);
    }


    .bunner{
        background-image: url(../img/jumbo.png);
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;

        /* DEBUG */
        height: 450px;
        width: 100%;
    }



    .container-bunner{
        width: 47%;
        margin: auto;
        text-align: center;
        
    }

    .container-bunner h1{
        color: white;
        margin-bottom: 0.8em;
        font-size: 2.7rem;
    }

    .container-bunner p{
        color: white;
        font-size: 1.2rem;
        line-height: 1.8rem;
    }

    .button-container{
        display: flex;
        width: 55%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

/* /HEADER */

/* MAIN */

    main section{

        /* DEBUG */
        height: 450px;
        display: flex;
    }

    main section:last-child{

        /* DEBUG */
        height: 650px;
        display: flex;
    }


    section:nth-child(even){
        background-color: #cccccc;
    }
    section .container{
        width: 62%;
        margin: auto;
        display: flex;
        /* DEBUG */
        border: 2px dashed rgb(0, 0, 0);  
        height: 350px;
    }

    .last-section{
        width: 62%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        /* DEBUG */
        border: 2px dashed rgb(0, 0, 0);  
        height: 550px;
        background-color: #339933;
    }
    
    .img-container{
        width: 60%;

        /* DEBUG */
        background-color: #3399ff;
    }

    .text-container{
        width: 40%;
        /* DEBUG */
        background-color: #ffcccc;
        
    }


/* /MAIN */

/* FOOTER */

    footer{
        background-color: #333333;
        height: 530px;
        display: flex;
        flex-direction: column;

    }

    footer hr{
        border-color: white;
    }

    .main-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 62%;
        height: 450px;
    }

    .main-footer .social-box{
        width: calc(100% / 3);
        height: 400px;
    
        /* DEBUG */
        background-color: #ff9999;
        border: 2px dashed black;
    }

    .main-footer .col{
        width: calc(100% / 6);
        height: 400px;

        /* DEBUG */
        background-color: #339999;
        border: 2px dashed white;
    }


    .end-footer{
        width: 62%;
        height: 50px;
        margin-top: 30px;
        /* DEBUG */
        background-color: #66ffcc;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-footer, .button-footer{
        padding: 0.3em;
        height: 2em;
        
        /* DEBUG */
        border: 2px dashed black;
        background-color: #ffcccc;
    }
/* /FOOTER */